.main-container { // holds all project cards - projects
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    grid-template-rows: auto;
    grid-gap: 25px;
    margin: 100px auto 0;
    position: relative;
    max-width: 1200px;
    @include sm-screens {
        width: 90%;
    }
    @include lg-screens {
        grid-gap: 25px;
    }
    a {
        text-decoration: none;
    }
    .card { // each project's front
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: auto auto;
        background-color: $blue;
        border: 2px solid white;
        height: 100%;
        
        h5 {
            opacity: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 1.5em;
            font-weight: lighter;
            color: rgb(238, 238, 238);
            text-align: center;
            transition: opacity .4s ease;
            background-image: linear-gradient(
                  to top,
                  hsl(0, 0%, 30%) 0%,
                  hsla(0, 0%, 30%, 0.987) 3.5%,
                  hsla(0, 0%, 30%, 0.951) 8.4%,
                  hsla(0, 0%, 30%, 0.896) 14.4%,
                  hsla(0, 0%, 30%, 0.825) 21.4%,
                  hsla(0, 0%, 30%, 0.741) 29%,
                  hsla(0, 0%, 30%, 0.648) 37.2%,
                  hsla(0, 0%, 30%, 0.55) 45.7%,
                  hsla(0, 0%, 30%, 0.45) 54.3%,
                  hsla(0, 0%, 30%, 0.352) 62.8%,
                  hsla(0, 0%, 30%, 0.259) 71%,
                  hsla(0, 0%, 30%, 0.175) 78.6%,
                  hsla(0, 0%, 30%, 0.104) 85.6%,
                  hsla(0, 0%, 30%, 0.049) 91.6%,
                  hsla(0, 0%, 30%, 0.013) 96.5%,
                  hsla(0, 0%, 30%, 0) 100%
                );
            margin: auto;
            padding-top: 15px;
            padding-bottom: 5px;
        }
        
        .info-row { // holds row items under images
           display: flex;
           width: 95%;
           margin: 0 auto;
           justify-content: space-between;
           text-align: center;
            .view-more { //button to click to activate animation
                margin: auto 0;
                color: white;
                font-weight: 600;
                border: 2px solid white;
                border-radius: 5px;
                padding: 2px;
                cursor: pointer;
                transition: all .2s ease;
                position: relative;
                &:hover {
                    background-color: white;
                    color: $blue;
                }
            }
        }
        .icon-modal { // blue pop up display hovering over icon
            position: absolute;
            color: white;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            margin: auto;
            padding: 0 5px;
            border-radius: 10px;
            background-color: $blue;
            transition: all .5s ease;
            z-index: 9;
            font-weight: bold;
            opacity: 0;
        }
        .image-container{ // thumbnail's individual container to hold thumbnail and overlay
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 4px;
            box-shadow: 0 3px 5px -2px rgb(0, 0, 0);
            border-bottom: 2px solid white;
            width: 100%;
            max-width: 600px;
            height: 100%;
            max-height: 289px;
            .thumbnail { // underlying image
                position: relative;
                width: 100%;
                height: 100%;
                transition: filter .4s ease, transform .4s ease;
            }
            .overlay { // sits on top of image allows for hovering and clicking
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;              
                background-color: rgba(0, 0, 0, 0.75);
                transition: all .5s ease;
                z-index: 10;
                font-size: 1.2rem;
                p {
                    box-sizing: border-box;
                    color: white;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    margin: 0;
                    line-height: 1;
                    padding: 7% 3%;
                }
                .view-code-button {
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: none;
                    left: -100%;
                    right: 100%;
                    bottom: 3%;
                    margin: auto;
                    border-radius: 50px;
                    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.85);
                        cursor: pointer;
                    }
                    p {
                        padding: 4px 0;
                        align-content: center;
                        color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
        .icon-div {
            margin: auto 0;
        }
        .icon { // individual icons 
            text-shadow: 0 1px 1px white;
            font-size: 2em;
            padding: 1px;
            &:hover {
                color: black;
            }
        }
    }
}