@keyframes dancing {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
        
    }
}

@keyframes entrance {
    0% {
        transform: translateY(-550px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opposite-entrance {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes exit {
    0% {
        transform: translateY(0);
    }
    
    100% {
        color: white;
        transform: translateY(-350px);
    }
}

@keyframes phasing {
    0% {
        border-right: 3px solid white;
    }
    25% {
        border-right: 3px solid rgba(255, 255, 255, 0);
    }
    50% {
        border-right: 3px solid white;
    }
    75% {
        border-right: 3px solid rgba(255, 255, 255, 0);
    }
    100% {
        border-right: 3px solid rgb(255, 255, 255);
    }
}