//--------------------------------- responsive CSS only menu --------------------------------------
//Base Styles Responsive Menu
nav {
    margin: 0 auto;
    position: absolute; // testing functionality to position drop-down over other elements
    z-index: 15;

    a {
        color: rgb(255, 255, 255);
    }
}
.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
}
#nav-checkbox,
    .toggle {
        display: none;
    }
.menu li a {
    text-decoration: none;
    align-content: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 15px;
    transition: color .6s ease, font-size .4s ease;
    &:hover {
        color: $dark-blue;
        
    }
}
@media (min-width: 551px) {
    nav {
        margin-top: 5px;
        width: 100%;
        .menu {
            @include flex-row;
            width: 95%;
            padding: 0;
            margin: 0 auto;
            height: 50px;
            align-items: center;
            list-style-type: none;
            li {
                animation: dancing 8s ease infinite;
            }
            li:nth-child(1){
                animation-delay: .32s;
            }
            li:nth-child(2){
                animation-delay: 1.81s;
            }
            li:nth-child(3){
                animation-delay: 1.2s;
            }
            li:hover {
                animation: none;
            }
            .container {
                @include flex-row;
            }
        }
    }
}

// Responsive drop down menu
@media (max-width: 550px) {
    nav {
        width: 100%;
    }
    .toggle {
        margin-top: 0;
        clear: both;
        display: block;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        height: 40px;
        font-size: 1.5em;
        transition: background-color .4s ease;
        color: $dark-blue;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .toggle:hover {
        background: rgba(0, 0, 0, 0.8);
    }
    #nav-checkbox:checked + label .nav li {
        opacity: 1;
        visibility: visible;
        transition: all 1s ease-in;
    }

    #bars {
        transition: transform .55s ease;
        width: 30px;
        margin: 0 auto;
    }

    #nav-checkbox:checked + label #bars {
        transform: rotate(90deg);
    }

    #nav-checkbox + label .nav li {
        opacity: 0;
        transition: visibility .5s ease, opacity .3s ease;
        visibility: none;
        
    }

    #nav-checkbox:checked + label .nav {
        height: 230px;
    }

    .menu {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: height .4s ease-out;
        .container {
            margin: -45px auto 0;
        }
    }
    .menu li {
        margin: 0 auto;
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        margin: 0 auto;
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
}