#resume-header {
    text-align: center;
}

#resume-main {
    text-align: center;
    height: 100vh;
    .resume {
        margin-top: 150px;
        width: 90%;
        max-width: 700px;
    }
    .fewd {
        width: 90%;
        max-width: 700px;
    }

    
}