#resume-header {
    text-align: center;
}

#resume-main {
    color: white;
    text-align: center;
    height: 100vh;
    background-image: url(../images/drawing-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        padding-top: 150px;
        margin-top: 0;
    };
    .fewd {
        width: 90%;
        max-width: 700px;
        box-shadow: 0 1px 5px -1px black;
    }

    
}