#resume-header {
    text-align: center;
}

#resume-main {
    text-align: center;
    height: 100vh;
    h2 {
        padding-top: 150px;
        margin-top: 0;
    };
    .fewd {
        width: 90%;
        max-width: 700px;
    }

    
}