@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600&display=swap');
$blue: rgba(59, 167, 255, 0.8);
$dark-blue: #0874CC;
$darker-blue: ($dark-blue / 2%);
$primary-font: 'Raleway', sans-serif;

@keyframes dancing {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
        
    }
}

@keyframes entrance {
    0% {
        transform: translateY(-350px);
    }
    
    // 50% {
    //     color: black;
    // }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes exit {
    0% {
        transform: translateY(0);
    }
    
    100% {
        color: white;
        transform: translateY(-350px);
    }
}