@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600&display=swap');
$blue: rgba(59, 167, 255, 0.801);
$primary-font: 'Raleway', sans-serif;

@keyframes dancing {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-3px);
    }
    55% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
        
    }
}
